<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="~{fragments/header :: header}">
</head>
<body>
<script src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript">
	function find() {
        $.ajax({
            url :'/user/find',
            type:"post",
            data:{name : $("input[name='nameFind']").val()},
            dataType:"json",
            success :function(data){
                if(data.result=="exception"){
                    alert("异常："+data.message+"["+data.errorCode+"]");
                    return ;
				}
                if(data.id != ""){
					$('#userInfo').html(data.id + " " + data.name + " "  +data.email + " " +data.pwd);
                }
            }
        });
    }

</script>

<!-- Page content -->
<div class="container blog-content-container"> 
      <input type="text" name="nameFind" />
	  <button onclick="find()"> 查找</button>
	  <p id="userInfo"></p>

	<form METHOD="POST" ACTION="/user/save">
		<input type="text" name="name" />
		<input type="text" name="pwd" />
		<input type="text" name="email" />
		<input type="submit"/>
	</form>
</div><!-- /.container -->
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>