<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>WebSocketTestPage</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript">
        var websocket = null;
        var domain = document.domain;
        //判断当前浏览器是否支持WebSocket
        if ('WebSocket' in window) {
            websocket = new WebSocket("ws://"+domain+":9090/ws/bitcoinServer");

            //连接成功建立的回调方法
            websocket.onopen = function () {
                websocket.send("客户端连接成功");
            }

            //接收到消息的回调方法
            websocket.onmessage = function (event) {
                setMessageInnerHTML(event.data);
            }

            //连接发生错误的回调方法
            websocket.onerror = function () {
                alert("WebSocket连接发生错误");
            };

            //连接关闭的回调方法
            websocket.onclose = function () {
                alert("WebSocket连接关闭");
            }

            //监听窗口关闭事件，当窗口关闭时，主动去关闭websocket连接，防止连接还没断开就关闭窗口，server端会抛异常。
            window.onbeforeunload = function () {
                closeWebSocket();
            }

        }
        else {
            alert('当前浏览器 Not support websocket')
        }

        //将消息显示在网页上
        function setMessageInnerHTML(innerHTML) {
            var bitcoin = eval("(" + innerHTML + ")");
            document.getElementById('time').innerHTML = bitcoin.time;
            document.getElementById('total').innerHTML = bitcoin.total;
        }

        //关闭WebSocket连接
        function closeWebSocket() {
            websocket.close();
        }

    </script>

</head>
<body>

<div style="text-align: center;margin:0 auto;width: 1000px; ">
    <div style="width:400px;margin:20px auto;border:1px solid lightgray;padding:20px;text-align:center;">
        当前时间：￥<span style="color:#FF7519" id="time">0</span>

    </div>

    <table width="100%" border="1" cellspacing="1" cellpadding="0">
        <tr>
            <td>USER</td>
            <td>PWD</td>
            <td>EMAIL</td>
        </tr>
        <tr>
            <td th:text="${currentUser.name}"></td>
            <td th:text="${currentUser.pwd}"></td>
            <td th:text="${currentUser.email}"></td>
        </tr>
        <!--/*@thymesVar id="learnList" type=""*/-->
        <tr th:each="role : ${currentUser.roles}">
            <td th:text="${role.name}"></td>
            <td th:text="${role.roleType}"></td>
            <td th:text="${role.remark}" ></td>
            <td><a href="/findPage" target="_blank">查询</a></td>
        </tr>
        <th:block th:each="role : ${currentUser.roles}">
            <div style="height:150px;width: 800px;border:black 1px solid;margin:2em auto 0;">
                <ul style="border:black 1px solid;">
                    <th:block th:each="permission:${role.permissions}">
                            <li th:text="${permission.name}" style=";margin-left: 50px;color:aqua;list-style:none;float:left;font-size:20px;border:black 1px solid"></li>
                    </th:block>
                </ul>
            </div>
        </th:block>
    </table>


    <form class="form-actions" action="/logout">
        <input type="submit" id="doLogout" tabindex="4" class="btn btn-primary" value="Logout"/>
    </form>
</div>
</body>
</html>