<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ncu.springboot.dao.PermissionDao">
	<resultMap type="Permission" id="PermissionResultMap">
		<result property="id" column="id" />
		<result property="name" column="name" />
		<result property="remark" column="remark" />
	</resultMap>
	<select id="selectPermissionByRole" resultType="Permission">
		select p.* from permission p
		left join role_permission rp on p.id = rp.permission_id
		where rp.role_id = #{roleId}
	</select>


	<select id="selectById" resultType="Permission">
		select p.* from permission p
		where p.id = #{id}
	</select>
</mapper>